@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


@theme {
  --font-mono: "Roboto", sans-serif;
}

*{
  font-family: var(--font-mono);
}

/* custom animations */
@layer utilities {
  .fade-in {
    animation: fadeIn 1s ease-out forwards;
  }
  .slide-up {
    animation: slideUp 1s ease-out forwards;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* enable smooth scrolling for in-page links */
html {
  scroll-behavior: smooth;
}
